h1{
    color:white;
    font-weight: bold;
    text-align:center;
    
}
.lyrics{

    font-family: 'Gill Sans', sans-serif;
    color:greenyellow;
    text-align:center;
    white-space: pre-line;
}

body{
background-color: darkslateblue;
}
